<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AddMilestone</title>
    <style>
        .fieldError {
            background-color: red;
        }
    </style>
</head>
<body>
New Milestone:<br><br>
<form  action="/add_milestone" method="post" th:object="${mileStoneDTO}" > <!--Tanár Id-jét honnan kapjuk?-->

    Name: <br>
    <input type="text" th:field="*{name}" th:class="${#fields.hasErrors('name')} ? fieldError"/><br>
    <ul>
        <li th:each="err : ${#fields.errors('name')}" th:text="${err}" />
    </ul>
    Date(yyyy-mm-dd): <br>
    <input type="date" th:field="*{date}" th:class="${#fields.hasErrors('date')} ? fieldError"/><br><br>

    Comment: <br>
    <input type="text" th:field="*{comment}" th:class="${#fields.hasErrors('comment')} ? fieldError"/><br><br>

    <button type="submit" name="action" value="move">➕Add</button>
</form>
<br>
<a href="/milestone_list">(☞ﾟヮﾟ)☞ Back to milestone list ☜(ﾟヮﾟ☜)</a>
<br>
<br>
<a href="/main">(☞ﾟヮﾟ)☞ Back to main menu ☜(ﾟヮﾟ☜)</a>
</body>
</html>